body {
  font-family: 'Work Sans', sans-serif !important;
}

.container {
  width: 95%;
  margin: auto;
}

.card {
  @apply bg-white shadow-lg rounded overflow-hidden;
}

.card-title {
  @apply text-xl text-gray-700 mb-2 leading-6;
}

.card-body {
  @apply px-6 py-4;
}

.embed-responsive {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.middle a {
  text-decoration: none;
  position: relative;
  transition: all 0.6s;
  border: none;
}

.middle a:hover {
  border: none;
}

.middle a:before {
  content: "";
  width: 0;
  height: 0.3em;
  position: absolute;
  bottom: -10px;
  left: 50%;
  background: #00aeff;
  transition: all 0.3s;
  border-radius: 0 0 3px 3px;
}

.middle a:hover:before {
  width: 100%;
  left: 0;
  background: #03ccba;
}

.chart-icon {
  width: 60px;
  height: 60px;
  min-width: 60px;
}

.wc-icon {
  width: 100px;
  height: 100px;
}

.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.h-500 {
  height: 500px;
}

.btn-primary {
  display: inline-block;
  color: #fff !important;
  background: #0f3354 !important;
  border: none;
  font-size: 1rem;
  line-height: 1.375rem;
  border-radius: 3px;
  text-align: center;
  /* -webkit-transition: color .1s,background-color .1s,opacity .1s; */
  transition: color .1s, background-color .1s, opacity .1s;
  min-width: 5.125rem;
}

.btn-secondary {
  display: inline-block;
  color: #fff !important;
  background: #03ccba !important;
  border: none;
  font-size: 1rem;
  line-height: 1.375rem;
  border-radius: 3px;
  text-align: center;
  min-width: 5.125rem;
  white-space: nowrap;
}

.sticky-notes ul,
.sticky-notes ul li {
  list-style: none;
}

.sticky-notes ul {
  overflow: hidden;
  padding: 3em;
}

.sticky-notes ul li a {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  padding: 1em;
  /* Firefox */
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  -moz-transition: -moz-transform .15s linear;
  -o-transition: -o-transform .15s linear;
  -webkit-transition: -webkit-transform .15s linear;
}

.sticky-notes ul li {
  margin: 1em;
  float: left;
}

.sticky-notes ul li p {
  font-family: "Reenie Beanie", arial, sans-serif;
  font-size: 180%;
}

.sticky-notes ul li a {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}

.sticky-notes ul li:nth-child(even) a {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
}

.sticky-notes ul li:nth-child(3n) a {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
}

.sticky-notes ul li:nth-child(5n) a {
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  top: -10px;
}

.sticky-notes ul li a:hover,
.sticky-notes ul li a:focus {
  -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.text {
  margin-top: 190px;
  margin-bottom: 190px;
  max-width: 561px;
  min-height: 220px;
}

.trapezoid-bg {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.trapezoid-bg--bottom:after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 644px;
  background: #f1f4fa;
  left: 50%;
  -webkit-transform: translateX(-50%) skew(0,14.8deg);
  transform: translateX(-50%) skew(0,14.8deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.trapezoid-bg--top:before {
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  top: 0;
  z-index: 0;
  width: 100%;
  height: 713px;
  background: #823d80;
  -webkit-transform: translateX(-50%) skew(0, -14.8deg);
  transform: translateX(-50%) skew(0, -14.8deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.trapezoid-bg--blue:before {
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  top: 0;
  z-index: 0;
  width: 100%;
  height: 713px;
  background: #03abc9;
  -webkit-transform: translateX(-50%) skew(0, -14.8deg);
  transform: translateX(-50%) skew(0, -14.8deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.trapezoid-bg--top-grey:before {
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  top: 0;
  z-index: 0;
  width: 100%;
  height: 713px;
  background: #f1f4fa;
  -webkit-transform: translateX(-50%) skew(0, -14.8deg);
  transform: translateX(-50%) skew(0, -14.8deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  position: relative;
  max-width: 2000px;
  margin: 0 auto;
  background-color: #823d80;
  color: #fff;
  height: 500px;
}

.vh-80 {
  height: 80vh;
}

.telephone {
  display: inline-block;
  border-bottom: 0 solid #03abc9;
  padding: 2px 16px;
}

.contact_email {
  display: inline-block;
  border-bottom: 0 solid #03abc9;
  padding: 2px 16px;
}

.telephone:hover,
.contact_email:hover {
  color: #03abc9;
}

input[type=text] {
  border: 1px solid #03abc9;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.375rem;
  padding: 0.75rem;
  font-family: inherit;
  color: inherit;
  vertical-align: top;
}

input[type=email] {
  border: 1px solid #03abc9;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.375rem;
  padding: 0.75rem;
  font-family: inherit;
  color: inherit;
  vertical-align: top;
}

textarea {
  border: 1px solid #03abc9;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.375rem;
  padding: 0.75rem;
  font-family: inherit;
  color: inherit;
  vertical-align: top;
}

textarea.input-extralarge {
  height: 11.25rem;
}

.form-control {
  border: 1px solid #03abc9;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.375rem;
  padding: 0.75rem;
  font-family: inherit;
  color: inherit;
  vertical-align: top;
  max-width: 100%;
}
.form-control:focus{
  box-shadow: 0 0 10px #719ECE;
  outline: none !important;
  border: 1px solid #03abc9;
}

.submit-btn {
  display: inline-block;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: .9375rem;
  line-height: 1.375rem;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color .1s, background .1s;
  transition: color .1s, background .1s;
  outline: none;
  margin: 0 auto;
  width: 212px;
  max-width: 100%;
  background: #03abc9;
  text-transform: uppercase;
}

.submit-btn:hover {
  opacity: 0.8;
  background: #03abc9;
}

.auth a {
  color: inherit;
  border-bottom: 0.125rem solid #03abc9;
  text-decoration: none;
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
}

.auth a:hover {
  border-bottom: 0.125rem solid #000;
}

/* ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
ul li p{
  
} */

/*
* SM screen
*/
@media(min-width:640px) {
  .container {
    @apply px-6;
  }
}

/*
* LG screen
*/
@media(min-width:1024px) {
  .container {
    @apply px-8;
  }
}

@media only screen and (max-width: 600px) {
  .text {
    margin: 20px;
  }

  .hero {
    min-height: 200px;
    max-height: 230px;
  }

  .h-500 {
    height: 200px;
  }
}